#include <windows.h>
#include "pindurti.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "pindurti.exe.manifest"

IDD_ENTER_ADDRESS DIALOGEX DISCARDABLE 150, 50, 110, 21
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION " Enter address"
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT			IDC_ENTER_ADDRESS, 5, 5, 100, 11
	PUSHBUTTON			"", IDOK, 0, 0, 0, 0
	PUSHBUTTON			"", IDCANCEL, 0, 0, 0, 0
END

IDD_ENTER_NUMBER DIALOGEX DISCARDABLE 150, 50, 110, 21
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION " Enter numeric value"
FONT 8, "MS Sans Serif"
BEGIN
	EDITTEXT			IDC_ENTER_NUMBER, 5, 5, 100, 11
	PUSHBUTTON			"", IDOK, 0, 0, 0, 0
	PUSHBUTTON			"", IDCANCEL, 0, 0, 0, 0
END
